{% extends 'index.html.twig' %}

{% block title %}Wild Series{% endblock %}


{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

<script src="{{ asset('build/app.js') }}"></script>

        <img src="{{ asset('build/path_to_image.png') }}" alt=""/>
    </head>

    <body>
    <header>
    {% include '_navbar.html.twig' %}
  </header>
  <main>
  <h1>{{ website }} index</h1>
</main>

    </body>
    </html>
{% endblock %}